*.egg-info
*.log
*.lock
*.pyc
*.pyo
*$py.class
build/
dist/
downloads/
__pycache__/
__*/
.cache/
.direnv/
.eggs/
.hypothesis/
.idea/
.pytest_cache
.tox/
.venv*/
.DS_Store
.coverage
.deps
.pdm.toml
.tested
