name: test-go

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - go/**
      - testdata/**
      - .github/**
  pull_request:
    branches:
      - main
      - renovate/**
    paths:
      - go/**
      - testdata/**
      - .github/**
  workflow_call:

jobs:
  test-go:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-latest
        go-version: ['1.20.x', '1.21.x']
        include:
          - os: windows-latest
            go-version: '1.21.x'
          - os: macos-latest
            go-version: '1.21.x'
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: ${{ matrix.go-version }}
        cache-dependency-path: go/go.sum
    - name: lint
      working-directory: go
      run: gofmt -w .
    - name: test
      working-directory: go
      run: go test ./...
