name: test-ruby

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - ruby/**
      - testdata/**
      - .github/**
  pull_request:
    branches:
      - main
      - renovate/**
    paths:
      - ruby/**
      - testdata/**
      - .github/**
  workflow_call:

jobs:
  test-ruby:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-latest
        ruby: ['2.6', '2.7', '3.0', '3.1', '3.2', '3.3', '3.4']
        include:
          - os: windows-latest
            ruby: '3.4'
          - os: macos-latest
            ruby: '3.4'
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
        rubygems: '3.2.3'
        working-directory: ruby
    - run: bundle exec rspec
      working-directory: ruby
