name: test-perl

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - perl/**
      - testdata/**
      - .github/**
  pull_request:
    branches:
      - main
      - renovate/**
    paths:
      - perl/**
      - testdata/**
      - .github/**
  workflow_call:

jobs:
  test-perl:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        perl: [ "5.14", "5.20", "5.26", "5.32" ]
    steps:
    - name: Check out repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Setup Perl environment
      uses: shogo82148/actions-setup-perl@fa3bdcb0144a50651e317f30949bb4491e74a6e4 # v1
      with:
        perl-version: ${{ matrix.perl }}
        working-directory: perl
    - name: Run tests
      working-directory: perl
      run: make test
    # Run author tests second so as to not 'contaminate' the environment
    # with dependencies listed as author deps when they should have been
    # listed as general deps
    - name: Run author tests
      working-directory: perl
      run: make authortest
