name: test-php

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - php/**
      - testdata/**
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - php/**
      - testdata/**
      - .github/**
  workflow_call:

permissions:
  contents: read

jobs:
  test-php:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php: ['8.1', '8.2', '8.3', '8.4', '8.5']
        composer-mode: ['high-deps']
        include:
          - php: '8.1'
            composer-mode: 'low-deps'


    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: "${{ matrix.php }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Discover composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-dir)" >> $GITHUB_OUTPUT
        working-directory: php

      - name: Cache composer
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
        with:
          path: "${{ steps.composer-cache.outputs.dir }}"
          key: composer

      - name: Install dependencies
        id: install
        working-directory: php
        run: |
          if [[ "${{ matrix.composer-mode }}" = "low-deps" ]]; then
            composer update --prefer-lowest
          else
            composer update
          fi

      - name: Lint coding standards
        if: always() && steps.install.outcome == 'success'
        working-directory: php
        run: vendor/bin/php-cs-fixer check --diff --show-progress=none
        env:
          PHP_CS_FIXER_IGNORE_ENV: '1'

      - name: Run tests
        if: always() && steps.install.outcome == 'success'
        working-directory: php
        run: vendor/bin/phpunit

      - name: Run static analysis
        if: always() && steps.install.outcome == 'success'
        working-directory: php
        run: vendor/bin/phpstan analyze
